@import "/src/pages-css/home.css";
@import "/src/pages-css/classes.css";
@import "/src/pages-css/prices.css";
@import "/src/pages-css/contact.css";
@import "/src/pages-css/profile.css";
@import "/src/pages-css/profile1.css";
@import "/src/pages-css/classesD.css";
body {
  margin: 0;
  font-family:'Roboto';
  background-color: white;
}
a {
  text-decoration: none;
}
.content{
  padding-top: 50px;
}
