.authW {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.auth {
    background: white;
    border-radius: 24px;
    width: 700px;
    padding: 1%;
    position: relative;
}
.closeButt {
    position: absolute;
    top: 0.5%;
    right: 3%;
    font-size: 32px;
    cursor: pointer;
    background: none;
    border: none;
    color: #999;
}
.authBT {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 1%;
}
.authT {
    color: #666;
    font-size: 14px;
    margin-bottom: 3%;
    font-weight: 500;
}
.inputText{
    font-weight: 500;
}
.auth-form {
    display: flex;
    gap: 5px;
}
.submitButt {
    width: 100%;
    padding: 0.5%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
}
.authInput{
    border: 0px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 8px;
}
.error {
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}
.authToRegButt{
    text-align: center;
    font-size: 14px;
    color: #666;
    width: 100%;
    justify-content: center;
}
.linkButt {
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-inline: 1%;
}
.authToRegButtText{
    text-align: center;
    font-weight: 500;
}

@media (max-width: 430px) {
  .auth {
    width: 90%;
    padding: 3%;
  }
  .authBT {
    font-size: 18px;
  }
  .authT {
    font-size: 12px;
  }
  .closeButt {
    font-size: 28px;
  }
  .submitButt {
    font-size: 14px;
    padding: 10px;
  }
  .authInput {
    font-size: 14px;
    padding: 10px;
  }
  .authToRegButt {
    flex-direction: column;
    align-items: center;
  }
  .linkButt {
    padding: 0;
    margin-top: 5px;
  }
}